<h2>Login</h2>
<form (ngSubmit)="login()">
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input
        matInput
        type="email"
        id="email"
        [(ngModel)]="email"
        name="email"
        required
      />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input
        matInput
        type="password"
        id="password"
        [(ngModel)]="password"
        name="password"
        required
      />
    </mat-form-field>
  </div>
  <div>
    <a routerLink="/forgot-password" class="forgot-password-link"
      >Forgot Password?</a
    >
  </div>
  <button mat-raised-button type="submit">Login</button>
</form>
